
@{
    ViewData["Title"] = "Links";
}

<h2>@ViewData["Title"]</h2>

<h3>My links</h3>
<ul>
    <li><a href="http://kaunas.sailing.lt">Senas Bangpūčio puslapis</a></li>
    <li><a href="http://laser.sailing.lt">Lietuvos lazerių klasės asociacija</a></li>
    <li><a href="http://google.lt">Google</a></li>
</ul>

